@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
:root {
  --h-height: 96px;
  --h-footer: 84px;
  --main-color: #ED4B58;
  --font-color: #26364B;
  --font-gray: #979797;
  --bg-color: #FFFFFF;
  --bg-light: #FAFAFA;
  --font-family: "Golos Text";
  --font-size: 16px;
  --gap: 30px;
  --radius: 32px;
  --transition: 250ms ease-in;
}
@media (max-width: 1199px) {
  :root {
    --gap: 25px;
  }
}
@media (max-width: 767px) {
  :root {
    --gap: 20px;
  }
}
@media (max-width: 575px) {
  :root {
    --gap: 15px;
  }
}

/* mixins */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  line-height: 130%;
}

address {
  display: inline;
  font-style: normal;
}

ul, ol {
  list-style: none;
  padding-left: 0px;
}

a, a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-size: 1em;
  display: block;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-main {
  background-color: var(--main-color);
  color: var(--bg-color);
  padding: 22px 59px;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 23px;
  font-weight: 600;
  box-shadow: 0px 7px 35px -12px rgba(237, 75, 88, 0.504644);
  transform: translateY(0px);
  transition: transform var(--transition);
}
@media (max-width: 575px) {
  .btn-main {
    font-size: 18px;
    padding: 15px 30px;
  }
}
.btn-main:hover, .btn-main:focus {
  transform: translateY(-10px);
  transition: transform var(--transition);
}

.btn-primary {
  display: block;
  background-color: var(--main-color);
  color: var(--bg-color);
  padding: 20px 40px;
  border-radius: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  line-height: 100%;
  font-weight: 600;
  box-shadow: 0px 7px 35px -12px rgba(237, 75, 88, 0.504644);
  transform: translateY(0px);
  transition: transform var(--transition);
}
.btn-primary:hover, .btn-primary:focus {
  transform: translateY(-10px);
  transition: transform var(--transition);
  color: var(--bg-color);
}

.btn-secondary {
  display: block;
  background-color: var(--font-color);
  color: var(--bg-color);
  padding: 20px 40px;
  border-radius: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  line-height: 100%;
  font-weight: 600;
  box-shadow: 0px 7px 35px -12px var(--font-color);
  transform: translateY(0px);
  transition: transform var(--transition);
}
.btn-secondary:hover, .btn-secondary:focus {
  transform: translateY(-10px);
  transition: transform var(--transition);
  color: var(--bg-color);
}

.btn-info {
  display: block;
  background-color: var(--bg-color);
  color: var(--main-color);
  border: 1px solid currentColor;
  padding: 20px 40px;
  border-radius: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  line-height: 100%;
  font-weight: 600;
  transform: translateY(0px);
  transition: transform var(--transition);
}
.btn-info:hover, .btn-info:focus {
  transform: translateY(-10px);
  transition: transform var(--transition);
  color: var(--main-color);
}

.btn-light {
  display: block;
  background-color: #F4F4F4;
  color: var(--font-color);
  padding: 20px 40px;
  border-radius: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  line-height: 100%;
  font-weight: 600;
  transform: translateY(0px);
  transition: transform var(--transition);
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.btn-light:hover, .btn-light:focus {
  transform: translateY(-10px);
  transition: transform var(--transition);
  color: var(--font-color);
}

.link {
  color: var(--main-color);
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  transform: translateY(0px);
  transition: transform var(--transition);
}
.link:hover, .link:focus {
  transform: translateY(-8px);
  transition: transform var(--transition);
  color: var(--main-color);
}
.link span {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
}
.link img {
  width: 22px;
}

.w-100 {
  width: 100%;
}

h1 {
  font-size: 51px;
  line-height: 58px;
  font-weight: 800;
  text-align: left;
  margin-bottom: 17px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 41px;
    line-height: 48px;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 34px;
    line-height: 40px;
  }
}

h2 {
  font-size: 31px;
  line-height: 33px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 14px;
}
h2 span {
  line-height: 100%;
}
@media (max-width: 575px) {
  h2 {
    font-size: 28px;
    line-height: 32px;
  }
}

.slogan {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 8px;
  letter-spacing: 4px;
  color: var(--main-color);
  text-transform: uppercase;
}
@media (max-width: 575px) {
  .slogan {
    font-size: 12px;
    line-height: 18px;
  }
}

h3 {
  font-size: 27px;
  line-height: 37px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 38px;
}
@media (max-width: 767px) {
  h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

h4 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 14px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 4px;
}

h6 {
  font-size: 15px;
  line-height: 26px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-19 {
  font-size: 19px;
}
.fs-21 {
  font-size: 21px;
}

.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}

.text-gray {
  color: var(--font-gray);
}

.text-light {
  color: #BCBCBC;
}

.text-main {
  color: var(--main-color);
}

.font-color {
  color: var(--font-color);
}

.text-center {
  text-align: center;
}

.gap {
  gap: var(--gap);
}

.d-flex {
  width: 100%;
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.d-flex.y-cen {
  align-items: center;
}
.d-flex.wrap {
  flex-wrap: wrap;
}
.d-flex .col-33 {
  width: calc(33% - var(--gap) / 2);
}
.d-flex .col-40 {
  width: calc(42% - var(--gap) / 2);
}
.d-flex .col-50 {
  width: calc(50% - var(--gap) / 2);
}
.d-flex .col-60 {
  width: calc(58% - var(--gap) / 2);
}
.d-flex .col-66 {
  width: calc(66% - var(--gap) / 2);
}
@media (max-width: 1024px) {
  .d-flex.bp-tablet {
    flex-wrap: wrap;
  }
  .d-flex.bp-tablet > .col-33, .d-flex.bp-tablet > .col-40, .d-flex.bp-tablet > .col-50, .d-flex.bp-tablet > .col-60, .d-flex.bp-tablet > .col-66 {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .d-flex.bp-mobile {
    flex-wrap: wrap;
  }
  .d-flex.bp-mobile > .col-33, .d-flex.bp-mobile > .col-40, .d-flex.bp-mobile > .col-50, .d-flex.bp-mobile > .col-60, .d-flex.bp-mobile > .col-66 {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .w-100-mob {
    width: 100%;
  }
}
.container {
  display: block;
  max-width: 100%;
  width: calc(100% - 4px);
  margin: 0px auto;
  padding: 0px 10px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .d-xl {
    display: none;
  }
}
.swiper {
  position: relative;
  padding-bottom: 90px;
  --swiper-pagination-color: var(--main-color);
}
@media (max-width: 991px) {
  .swiper {
    padding-bottom: 0px;
  }
}
.swiper-bottom {
  position: absolute;
  bottom: 0%;
  left: 0px;
  width: 100%;
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--gap);
}
@media (max-width: 991px) {
  .swiper-bottom {
    margin-top: var(--gap);
    position: relative;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  }
}
.swiper-navs {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.swiper-button-prev, .swiper-button-next, .swiper-pagination {
  position: relative;
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
}
.swiper-button-prev, .swiper-button-next {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #F4F4F4;
  width: 46px !important;
  height: 46px !important;
  border-radius: 16px;
  margin-top: 0px !important;
  color: var(--font-color);
  transition: color var(--transition);
  padding: 5px;
}
.swiper-button-prev svg, .swiper-button-next svg {
  width: 36px;
  height: 36px;
}
.swiper-button-prev:hover, .swiper-button-prev:focus, .swiper-button-next:hover, .swiper-button-next:focus {
  color: var(--main-color);
  transition: color var(--transition);
}
.swiper-pagination-bullets {
  transform: translateX(0%) !important;
}
.swiper-pagination-bullet {
  margin: 0px 12px !important;
  transform: scale(0) !important;
}
.swiper-pagination-bullet-active-next, .swiper-pagination-bullet-active-prev, .swiper-pagination-bullet-active-main {
  transform: scale(1) !important;
}

.dropdown {
  position: relative;
  width: 100%;
}
.dropdown__btn {
  width: 100%;
  border: 1px solid var(--light-color);
  border-radius: var(--radius);
  background-color: var(--bg-color);
  padding: 1em var(--gap);
  position: relative;
  z-index: 1;
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1em;
  background: url(../imgs/icons/arrow.svg) no-repeat calc(100% - 1em) 50%;
  background-size: auto;
}
.dropdown__btn span {
  display: inline;
  vertical-align: middle;
  margin: 0px var(--margin-xs);
}
.dropdown__btn img {
  display: inline;
  width: calc(var(--font-size-sm) * 1.5);
  height: calc(var(--font-size-sm) * 1.5);
  -o-object-fit: scale-down;
     object-fit: scale-down;
  vertical-align: middle;
}
.dropdown__box {
  position: absolute;
  z-index: 100;
  top: 102%;
  right: 0px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: var(--radius);
  border: 1px solid var(--light-color);
  background-color: var(--bg-color);
  padding: 1em var(--gap);
  display: none;
}
.dropdown__box.show {
  display: block;
}

.social {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.social a {
  display: flex;
}
.social img {
  width: 36px;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 400;
  background-color: var(--bg-color);
  color: var(--font-color);
}
@media (max-width: 1024px) {
  body {
    padding-top: 0px;
    padding-bottom: 20px;
  }
}

main {
  min-height: calc(100vh - 120px - var(--h-footer) - var(--h-height));
}

.logo {
  max-width: 162px;
  height: 42px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

header {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 13px;
  color: var(--font-gray);
  height: var(--h-height);
}
@media (max-width: 991px) {
  header {
    flex-wrap: wrap;
  }
}
header .header-block {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
}
header .header-block a {
  color: var(--font-color);
}
header .header-block a:hover, header .header-block a:focus, header .header-block a:active {
  color: var(--main-color);
  transition: color var(--transition);
}
header hr {
  width: 1px;
  height: 48px;
  background-color: #C4C4C4;
  border: none;
}
@media (max-width: 991px) {
  header hr {
    display: none;
  }
}

.sec-1 {
  background-image: url(../imgs/bg/bg1-right.png), url(../imgs/bg/bg1-left.png);
  background-size: auto 100%, auto 100%;
  background-position: 100% center, 0% center;
  background-repeat: no-repeat;
  padding: 48px 0px 102px;
}
@media (max-width: 991px) {
  .sec-1 {
    background-image: url(../imgs/bg/bg1-left.png);
  }
}
.sec-1 p {
  margin-bottom: 29px;
}

.sec-2 {
  margin-top: -50px;
}
.sec-2 .plus {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: var(--gap);
}
@media (max-width: 991px) {
  .sec-2 .plus {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.sec-2 .plus-item {
  background-color: var(--bg-light);
  border-radius: var(--radius);
  padding: 28px 40px 35px 52px;
  position: relative;
  width: 100%;
}
@media (max-width: 1199px) {
  .sec-2 .plus-item {
    padding: 20px 20px;
  }
}
@media (max-width: 991px) {
  .sec-2 .plus-item {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .sec-2 .plus-item {
    width: 100%;
  }
}
.sec-2 .plus-item:last-child {
  border: 1px solid var(--font-color);
}
.sec-2 .plus-item .bg {
  position: absolute;
  top: 0px;
  right: 0px;
}

.sec-3 {
  margin-top: 32px;
  background: url(../imgs/bg/bg2.jpg) no-repeat;
  background-size: cover;
  padding: 16px;
  border-radius: var(--radius);
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .sec-3 {
    flex-wrap: wrap;
  }
}
.sec-3 .text {
  width: calc(100% - 32px - 390px);
  padding: 0px 50px 0px 100px;
}
@media (max-width: 1199px) {
  .sec-3 .text {
    padding: 0px;
  }
}
@media (max-width: 991px) {
  .sec-3 .text {
    width: 100%;
  }
}
.sec-3 .text p {
  margin-bottom: 25px;
}
.sec-3 .text .btn-primary, .sec-3 .text .btn-secondary {
  padding: 12px 20px 12px 16px;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 11px;
  line-height: 15px;
}
.sec-3 .text .btn-primary svg, .sec-3 .text .btn-secondary svg {
  background-color: var(--bg-color);
  padding: 4px;
  width: 32px;
  height: 32px;
  border-radius: 12px;
}
.sec-3-btns {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
}
@media (max-width: 575px) {
  .sec-3-btns {
    flex-wrap: wrap;
  }
}

.sec-4 {
  margin-top: 64px;
}
.sec-4-grid {
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px 30px;
}
@media (max-width: 991px) {
  .sec-4-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 575px) {
  .sec-4-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sec-4-grid div {
  grid-row: span 1;
  grid-column: span 1;
  background-color: var(--bg-light);
  padding: 32px 40px;
  border-radius: var(--radius);
}
@media (max-width: 1199px) {
  .sec-4-grid div {
    padding: 20px 20px;
  }
}
.sec-4-grid div:first-child {
  background-color: #F4F4F4;
}
.sec-4-grid div:nth-child(3) {
  background: url(../imgs/bg/dot-blur.svg) no-repeat;
  background-position: 100% 100%;
}
.sec-4-grid div:nth-child(4) {
  background-image: url(../imgs/bg/emblem-big.svg), url(../imgs/bg/dots-2.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%, 40px calc(100% - 32px);
}
.sec-4-grid div:last-child {
  grid-column: span 2;
  background: url(../imgs/bg/bg3.png) no-repeat var(--main-color);
  background-size: cover;
  color: var(--bg-color);
}
@media (max-width: 575px) {
  .sec-4-grid div:last-child {
    grid-column: span 1;
  }
}

.sec-5 {
  margin-top: 60px;
  background: url(../imgs/bg/bg4.jpg) no-repeat center center;
  background-size: cover;
  padding: 55px 0px 0px;
}
.sec-5-btns {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
  margin-top: 33px;
}
@media (max-width: 575px) {
  .sec-5-btns {
    flex-wrap: wrap;
  }
}
.sec-5 .container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 1199px) {
  .sec-5 .container {
    align-items: flex-end;
  }
}
@media (max-width: 991px) {
  .sec-5 .container {
    flex-wrap: wrap;
  }
}
.sec-5 .container .left {
  flex: 1;
  margin-right: 5%;
}
@media (max-width: 1199px) {
  .sec-5 .container .left {
    margin-right: 20px;
  }
}
.sec-5 .container .right {
  display: flex;
  width: 445px;
}
@media (max-width: 1199px) {
  .sec-5 .container .right {
    width: 350px;
  }
}
@media (max-width: 991px) {
  .sec-5 .container .right {
    margin-top: 30px;
    margin-left: auto;
  }
}
.sec-5 .container .right img {
  width: 100%;
}

.sec-6 {
  margin-top: 64px;
}
.sec-6-grid {
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 24px 30px;
}
@media (max-width: 991px) {
  .sec-6-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .sec-6-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sec-6-grid div {
  grid-row: span 1;
  grid-column: span 1;
  background-color: var(--bg-light);
  padding: 32px 40px;
  border-radius: var(--radius);
}
@media (max-width: 1199px) {
  .sec-6-grid div {
    padding: 20px 20px;
  }
}
.sec-6-grid div:first-child {
  grid-column: span 4;
  background-color: #F4F4F4;
  padding: 35px 260px 35px 46px;
}
@media (max-width: 991px) {
  .sec-6-grid div:first-child {
    padding: 20px 20px;
    grid-column: span 2;
  }
}
@media (max-width: 575px) {
  .sec-6-grid div:first-child {
    grid-column: span 1;
  }
}
.sec-6-grid div:nth-child(3) {
  background-color: var(--bg-color);
  border: 1px solid var(--font-color);
}
.sec-6-grid div:nth-child(4) {
  background-image: url(../imgs/bg/dots-3.svg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.sec-7 {
  margin-top: 64px;
  padding: 0px 100px;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 1199px) {
  .sec-7 {
    padding: 0px;
  }
}
@media (max-width: 767px) {
  .sec-7 {
    flex-wrap: wrap;
  }
}
.sec-7 p {
  margin-top: 30px;
}
.sec-7 button {
  margin-top: 48px;
}
.sec-7 img {
  width: auto;
  max-width: 100%;
}
@media (max-width: 767px) {
  .sec-7 img {
    margin-top: 30px;
  }
}

.sec-8 {
  background-color: #F4F4F4;
  margin-top: 48px;
  padding: 64px 0px;
}
.sec-8 .container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: var(--gap);
}
@media (max-width: 991px) {
  .sec-8 .container {
    flex-wrap: wrap;
  }
}
.sec-8 .container .left {
  width: 66%;
  background-color: var(--bg-color);
  background-image: url(../imgs/bg/mark.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  border-radius: var(--radius);
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .sec-8 .container .left {
    width: 100%;
  }
}
.sec-8 .container .left img {
  border-radius: var(--radius);
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1199px) {
  .sec-8 .container .left img {
    width: 250px;
  }
}
@media (max-width: 575px) {
  .sec-8 .container .left img {
    display: none;
  }
}
.sec-8 .container .left .text {
  padding: 54px 160px 54px 54px;
}
@media (max-width: 1199px) {
  .sec-8 .container .left .text {
    padding: 54px 50px 54px 34px;
  }
}
@media (max-width: 767px) {
  .sec-8 .container .left .text {
    padding: 20px;
  }
}
.sec-8 .container .left .text h4 {
  margin-bottom: var(--gap);
}
.sec-8 .container .left .text .list li {
  margin-top: 10px;
  padding-left: 20px;
  position: relative;
}
.sec-8 .container .left .text .list li::before {
  content: "";
  background: url(../imgs/icons/green-dot.svg) no-repeat 50% 50%;
  background-size: contain;
  width: 6px;
  height: 6px;
  position: absolute;
  left: 0%;
  top: calc(50% - 3px);
}
.sec-8 .container .right {
  padding: 37px 30px;
  width: 33%;
  background-color: var(--bg-color);
  border-radius: var(--radius);
  background-image: url(../imgs/bg/close.svg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
}
@media (max-width: 991px) {
  .sec-8 .container .right {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .sec-8 .container .right {
    padding: 20px;
  }
}
.sec-8 .container .right img {
  margin: 25px 0px;
}
@media (max-width: 1199px) {
  .sec-8 .container .right img {
    margin: 15px 0px;
  }
}
.sec-8 .container .right .list li {
  margin-top: 10px;
  padding-left: 20px;
  position: relative;
}
.sec-8 .container .right .list li::before {
  content: "";
  background: url(../imgs/icons/dark-dot.svg) no-repeat 50% 50%;
  background-size: contain;
  width: 6px;
  height: 6px;
  position: absolute;
  left: 0%;
  top: calc(50% - 3px);
}

.sec-9 {
  margin-top: 64px;
}
.sec-9-grid {
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 24px 30px;
}
@media (max-width: 767px) {
  .sec-9-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .sec-9-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sec-9-grid div {
  grid-row: span 1;
  grid-column: span 1;
  padding: 32px 40px;
  border-radius: var(--radius);
}
@media (max-width: 1199px) {
  .sec-9-grid div {
    padding: 20px;
  }
}
.sec-9-grid div:first-child {
  background: url(../imgs/bg/bg6.jpg) no-repeat var(--main-color);
  background-size: cover;
  color: var(--bg-color);
}
.sec-9-grid div:nth-child(2) {
  background: url(../imgs/bg/dots-4.svg) no-repeat #F4F4F4;
  background-position: 40px calc(100% - 32px);
}
.sec-9-grid div:last-child {
  background-color: var(--bg-color);
  border: 1px solid var(--font-color);
}

.sec-10 {
  margin-top: 32px;
  background: url(../imgs/bg/bg7.png) no-repeat var(--font-color);
  background-size: cover;
  padding: 16px;
  border-radius: var(--radius);
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .sec-10 {
    flex-wrap: wrap;
  }
}
.sec-10 .text {
  color: var(--bg-color);
  width: calc(100% - 32px - 390px);
  padding: 0px 50px 0px 100px;
}
@media (max-width: 1199px) {
  .sec-10 .text {
    padding: 0px;
  }
}
@media (max-width: 991px) {
  .sec-10 .text {
    width: 100%;
  }
}
.sec-10 .text ul {
  margin: 28px 0px;
}
.sec-10 .text ul li {
  line-height: 24px;
  font-weight: 500;
}
.sec-10 .text ul li::before {
  content: "•";
  margin-right: 1em;
}

.sec-11 {
  margin-top: 64px;
}
.sec-11-grid {
  margin-top: 38px;
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 24px 30px;
}
@media (max-width: 991px) {
  .sec-11-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .sec-11-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sec-11-grid div {
  grid-row: span 1;
  grid-column: span 1;
  padding: 32px 40px;
  border-radius: var(--radius);
  background-color: var(--bg-light);
}
@media (max-width: 1199px) {
  .sec-11-grid div {
    padding: 20px;
  }
}
.sec-11-grid div:first-child {
  background-color: #F4F4F4;
}
.sec-11-grid div:first-child .link {
  margin-top: 32px;
}
@media (max-width: 1199px) {
  .sec-11-grid div:first-child .link {
    margin-top: 10px;
  }
}
.sec-11-grid div:nth-child(3) {
  background-image: url(../imgs/bg/bg8.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  padding-top: 64px;
}
.sec-11-grid div:nth-child(4) {
  background-image: url(../imgs/bg/emblem-big.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.sec-11-grid div:nth-child(5) {
  border: 1px solid var(--font-color);
  background: url(../imgs/bg/dots-4.svg) no-repeat var(--bg-color);
  background-position: 40px calc(100% - 32px);
}
.sec-11-grid div:last-child {
  background: url(../imgs/bg/bg9.jpg) no-repeat var(--main-color);
  background-size: cover;
  color: var(--bg-color);
}
.sec-11-btns {
  margin-top: 48px;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
}
@media (max-width: 991px) {
  .sec-11-btns {
    flex-wrap: wrap;
  }
}
.sec-11-btns .btn-light {
  font-size: 11px;
  padding: 14px 28px 13px 16px;
  font-weight: 400;
}

.sec-12 {
  margin-top: 64px;
}
.sec-12-grid {
  margin-top: 38px;
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 24px 30px;
}
@media (max-width: 991px) {
  .sec-12-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .sec-12-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sec-12-grid div {
  grid-row: span 1;
  grid-column: span 1;
  padding: 32px 40px;
  border-radius: var(--radius);
  background-color: var(--bg-light);
}
@media (max-width: 1199px) {
  .sec-12-grid div {
    padding: 20px;
  }
}
.sec-12-grid div:first-child {
  background-image: url(../imgs/bg/bg10.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.sec-12-grid div:nth-child(2) {
  background-color: #F4F4F4;
}
.sec-12-grid div:last-child {
  background-image: url(../imgs/bg/bg11.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.sec-13 {
  margin-top: 64px;
}
.sec-13 .swiper {
  margin-top: 48px;
}
.sec-13 figure {
  position: relative;
}
.sec-13 figure::after {
  content: "";
  position: absolute;
  top: 256px;
  left: 21px;
  z-index: 2;
  background: url(../imgs/icons/logo-icon.svg) no-repeat;
  width: 37px;
  height: 28px;
}
.sec-13 figure img {
  width: 100%;
  height: 304px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 23px;
  border-radius: var(--radius);
  position: relative;
  z-index: 1;
}
.sec-13 figure figcaption {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 6px;
}
.sec-13 .swiper-slide-active figure img {
  border: 1px solid var(--main-color);
}

.sec-14 {
  margin-top: 64px;
}
.sec-14-grid {
  margin-top: 38px;
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 24px 30px;
}
@media (max-width: 991px) {
  .sec-14-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .sec-14-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sec-14-grid div {
  grid-row: span 1;
  grid-column: span 1;
  padding: 32px 40px;
  border-radius: var(--radius);
  background-color: var(--bg-light);
}
@media (max-width: 1199px) {
  .sec-14-grid div {
    padding: 20px;
  }
}
.sec-14-grid div:first-child {
  background-image: url(../imgs/bg/bg12.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.sec-14-grid div:nth-child(2) {
  background-color: #F4F4F4;
}

.sec-15 {
  margin-top: 64px;
}
.sec-15-grid {
  margin-top: 38px;
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 24px 30px;
}
@media (max-width: 991px) {
  .sec-15-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .sec-15-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sec-15-grid div {
  grid-row: span 1;
  grid-column: span 1;
}
.sec-15-grid .link15 {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 32px 40px;
  border-radius: var(--radius);
  background-color: #F4F4F4;
  position: relative;
  transition: background-color var(--transition);
}
@media (max-width: 1199px) {
  .sec-15-grid .link15 {
    padding: 20px;
  }
}
.sec-15-grid .link15-img {
  max-width: 164px;
  max-height: 48px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  position: relative;
  z-index: 1;
}
.sec-15-grid .link15-arrow {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  transform: scale(1);
  transition: transform var(--transition);
}
.sec-15-grid .link15:hover {
  background-color: var(--bg-light);
  transition: background-color var(--transition);
}
.sec-15-grid .link15:hover .link15-arrow {
  transform: scale(1.5);
  transition: transform var(--transition);
}
.sec-15 .review {
  width: 100%;
  padding: 32px 36px;
  border-radius: var(--radius);
  background-color: var(--bg-light);
}
.sec-15 .review-top {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}
.sec-15 .review-top img {
  width: 56px;
  height: 16px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.sec-15 .review-text p {
  margin-bottom: 1em;
}
.sec-15 .review-source {
  font-size: 12px;
  color: #6E819A;
}
.sec-15 .review-source a {
  display: block;
  color: #314DF6;
  transition: color var(--transition);
}
.sec-15 .review-source a:hover, .sec-15 .review-source a:focus {
  color: var(--main-color);
  transition: color var(--transition);
}
.sec-15 .swiper-bottom {
  justify-content: space-between;
}

.sec-16 {
  margin-top: 64px;
}
.sec-16 .project {
  background-color: var(--bg-light);
  border-radius: var(--radius);
  overflow: hidden;
}
.sec-16 .project-video {
  width: 100%;
  overflow: hidden;
  border-radius: var(--radius);
  position: relative;
  margin-bottom: 14px;
}
.sec-16 .project-video iframe, .sec-16 .project-video video {
  width: 100%;
  height: 256px;
  position: relative;
  z-index: 1;
}
.sec-16 .project-video-cover {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.sec-16 .project-video-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec-16 .project-video-cover::after {
  content: "";
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  width: 67px;
  height: 52px;
  transform: translate(-50%, -50%);
  background: url(../imgs/icons/play.svg) no-repeat;
  background-size: contain;
}
.sec-16 .project-video:hover .project-video-cover {
  z-index: -1;
}
.sec-16 .project-info {
  padding: 16px 24px;
}
.sec-16 .project-info .link {
  margin-top: 7px;
}
.sec-16 .project-info .link span {
  font-size: 13px;
}
.sec-16 .swiper-3 {
  margin-top: 48px;
}
.sec-16 .swiper-bottom {
  justify-content: space-between;
}

.sec-17 {
  margin-top: 64px;
}
.sec-17 .swiper {
  margin-top: 48px;
}
.sec-17 .doc {
  background-color: #F4F4F4;
  background-image: url(../imgs/bg/emblem-big-2.svg), url(../imgs/bg/docs-dots.svg);
  background-repeat: no-repeat;
  background-position: 50% 30%, 50% 80%;
  background-size: auto, 100% auto;
  border-radius: var(--radius);
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 352px;
  padding: 40px 0px 27px;
}
.sec-17 .doc-info {
  text-align: center;
  padding: 0px 10px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.sec-17 .doc .link {
  margin-top: 1em;
}
.sec-17 .swiper-bottom {
  justify-content: space-between;
}

.sec-18 {
  margin-top: 64px;
}
.sec-18-grid {
  margin-top: 38px;
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 24px 30px;
}
@media (max-width: 991px) {
  .sec-18-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .sec-18-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sec-18-grid div {
  grid-row: span 1;
  grid-column: span 1;
  padding: 32px 40px;
  border-radius: var(--radius);
  background-color: var(--bg-light);
}
@media (max-width: 1199px) {
  .sec-18-grid div {
    padding: 20px;
  }
}
.sec-18-grid div:first-child {
  background-image: url(../imgs/bg/bg13.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-top: 100px;
}
.sec-18-grid div:nth-child(2) {
  background: url(../imgs/bg/dots-1.svg) no-repeat #F4F4F4;
  background-position: 100% 0%;
}
.sec-18-grid div:nth-child(2) img {
  margin-bottom: 18px;
}
.sec-18-grid div:last-child {
  background: url(../imgs/bg/bg14.jpg) no-repeat var(--main-color);
  background-size: cover;
  color: var(--bg-color);
}
.sec-18-grid div:last-child .link {
  margin-top: 30px;
  color: #FFE65A;
  font-weight: 500;
  gap: 5px;
}

.sec-19 {
  margin-top: 64px;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: var(--gap);
}
@media (max-width: 991px) {
  .sec-19 {
    flex-wrap: wrap;
  }
}
.sec-19 .left, .sec-19 .right {
  width: 50%;
}
@media (max-width: 991px) {
  .sec-19 .left, .sec-19 .right {
    width: 100%;
  }
}
.sec-19 .contacts-box {
  margin-top: 48px;
  border-radius: var(--radius);
  background-color: var(--bg-light);
  padding: 32px 40px;
}
@media (max-width: 1199px) {
  .sec-19 .contacts-box {
    padding: 20px;
  }
}
@media (max-width: 991px) {
  .sec-19 .contacts-box {
    margin-top: 15px;
    margin-bottom: 28px;
  }
}
.sec-19 .contacts-box .slogan {
  font-size: 13px;
  margin-bottom: 17px;
}
.sec-19 .contacts-box .town {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 12px;
  gap: 16px;
}
.sec-19 .contacts-box .town p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
}
.sec-19 .contacts-box address {
  display: block;
  font-weight: 500;
  margin-bottom: 20px;
}
.sec-19 .contacts-box .work {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.sec-19 .contacts-box .work img {
  width: 27px;
  margin-right: 15px;
}
.sec-19 .contacts-box .work p {
  font-size: 20px;
  font-weight: 500;
}
.sec-19 .contacts-box hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #E9E9EC;
  margin: 30px 0px 20px;
}
.sec-19 .contacts-box .phone {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
  font-size: 17px;
}
.sec-19 .contacts-box .phone img {
  width: 32px;
}
.sec-19 .contacts-box .contacts {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
@media (max-width: 575px) {
  .sec-19 .contacts-box .contacts {
    flex-wrap: wrap;
  }
}
.sec-19 .contacts-box .contacts > div {
  width: 50%;
}
@media (max-width: 575px) {
  .sec-19 .contacts-box .contacts > div {
    width: 100%;
  }
}
.sec-19 .contacts-box .mb-8 {
  margin-bottom: 8px;
}
.sec-19 .contacts-box .mb-14 {
  margin-bottom: 14px;
}
.sec-19 .contacts-box .social {
  gap: 30px;
}
.sec-19 .contacts-box .social img {
  width: 40px;
}
.sec-19 .map-box {
  margin-top: 48px;
  border-radius: var(--radius);
  max-height: 484px;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .sec-19 .map-box {
    max-height: 454px;
  }
}
@media (max-width: 991px) {
  .sec-19 .map-box {
    margin-top: 15px;
  }
}

.sec-20 {
  margin-top: 64px;
  padding: 0px 200px;
}
@media (max-width: 1199px) {
  .sec-20 {
    padding: 0px 100px;
  }
}
@media (max-width: 991px) {
  .sec-20 {
    padding: 0px;
  }
}
.sec-20 h2 {
  margin-bottom: 20px;
}
.sec-20-text {
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 48px;
}
.sec-20 .blockCollapsible {
  border-top: 1px solid #E5E5EA;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  isolation: isolate;
  transform: translateZ(0);
}
.sec-20 .blockCollapsible-btn {
  width: 100%;
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--gap);
  padding: var(--gap) var(--gap);
}
@media (max-width: 767px) {
  .sec-20 .blockCollapsible-btn {
    width: 100%;
    margin-bottom: 15px;
  }
}
.sec-20 .blockCollapsible-btn img {
  width: 16px;
  height: 16px;
  transform: rotate(0deg);
  transition: transform var(--transition);
}
.sec-20 .blockCollapsible-btn p {
  font-weight: 500;
  font-size: 17px;
  text-align: left;
  transition: color var(--transition);
}
.sec-20 .blockCollapsible-body {
  display: none;
  padding: 0px 100px 32px;
}
@media (max-width: 575px) {
  .sec-20 .blockCollapsible-body {
    padding: 0px 10px 10px;
  }
}
.sec-20 .blockCollapsible-body p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 10px;
}
.sec-20 .blockCollapsible.active .blockCollapsible-btn img {
  transform: rotate(45deg);
}
.sec-20 .blockCollapsible.active .blockCollapsible-btn p {
  color: var(--main-color);
  font-weight: 700;
  transition: color var(--transition);
}
.sec-20 .blockCollapsible.active .blockCollapsible-body {
  display: block;
}

.sec-21 {
  margin-top: 64px;
  background-image: url(../imgs/bg/bg16.png), url(../imgs/bg/bg15.jpg);
  background-repeat: no-repeat;
  background-color: var(--font-color);
  background-size: auto, cover;
  background-position: 55% 5%, 50% 50%;
  padding: 16px;
  border-radius: var(--radius);
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .sec-21 {
    flex-wrap: wrap;
    background-image: url(../imgs/bg/bg15.jpg);
    background-position: 50% 50%;
  }
}
.sec-21 .text {
  color: var(--bg-color);
  width: calc(100% - 32px - 390px);
  padding: 0px 50px 0px 100px;
}
@media (max-width: 1199px) {
  .sec-21 .text {
    padding: 0px;
  }
}
@media (max-width: 991px) {
  .sec-21 .text {
    width: 100%;
  }
}
.sec-21 .text p {
  margin-bottom: 25px;
}
.sec-21-btns {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
  margin-top: 56px;
}
@media (max-width: 575px) {
  .sec-21-btns {
    flex-wrap: wrap;
  }
}
.sec-21-btns .btn-primary, .sec-21-btns .btn-secondary {
  padding: 12px 20px 12px 16px;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 11px;
  line-height: 15px;
}
.sec-21-btns .btn-primary svg, .sec-21-btns .btn-secondary svg {
  background-color: var(--bg-color);
  padding: 4px;
  width: 32px;
  height: 32px;
  border-radius: 12px;
}
.sec-21-btns .btn-secondary {
  border: 1px solid var(--bg-color);
}

.warning {
  margin: 32px 100px;
  border-radius: var(--radius);
  background-color: var(--bg-light);
  padding: 27px 78px;
  text-align: center;
}
@media (max-width: 991px) {
  .warning {
    margin: 32px 0px;
  }
}
@media (max-width: 575px) {
  .warning {
    padding: 20px;
  }
}

blockquote {
  width: 90%;
  color: var(--main-color);
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
  padding: 0px 0px 10px 45px;
  border-bottom: 1px solid #D8D8D8;
  margin: 28px 0px 20px;
  background: url(../imgs/icons/quote.svg) no-repeat 0% 20%;
}
blockquote p {
  margin-bottom: 10px !important;
}

form {
  width: 390px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  padding: 32px 35px 27px;
  border-radius: var(--radius);
}
@media (max-width: 991px) {
  form {
    width: 100%;
    margin-top: 40px;
  }
}
form p {
  margin-bottom: 30px;
}
form label {
  display: block;
  font-size: 13px;
  line-height: 100%;
  margin-bottom: 10px;
}
form input {
  width: 100%;
  background-color: var(--bg-light);
  border-radius: 18px;
  border: none;
  padding: 14px 16px;
  font-size: 16px;
  outline: none;
  margin-bottom: 14px;
}
form input::-moz-placeholder {
  color: #C9CDD1;
}
form input::placeholder {
  color: #C9CDD1;
}
form input:hover, form input:focus, form input:focus-visible {
  outline: none;
}
form input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  border: 1px solid #8E8E93;
  background-color: var(--bg-color);
  border-radius: 6px;
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: 0px;
}
form input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 6px;
  border: solid var(--main-color);
  transform: rotate(310deg);
  border-width: 0px 0px 3px 3px;
}
form .inputGroup {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  background-color: var(--bg-light);
  border-radius: 18px;
  position: relative;
  overflow: hidden;
}
form .inputGroup input {
  margin: 0px !important;
  position: relative;
  z-index: 1;
}
form .inputGroup-left {
  position: relative;
  z-index: 2;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #F4F4F4;
  padding: 12px 19px;
  border-radius: 18px;
  gap: 10px;
}
form .btn-primary {
  margin: 30px 0px;
}
form .checkboxGroup {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
form .checkboxGroup label {
  display: block;
  flex: 1;
  color: #8E8E93;
  font-size: 11px;
  line-height: 100%;
  margin: 0px 0px 0px 10px;
}

footer .mb-12 {
  margin-bottom: 12px;
}
footer .fFlex {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--gap);
}
@media (max-width: 991px) {
  footer .fFlex {
    flex-wrap: wrap;
  }
}
footer .fFlex .col-25 {
  width: 25%;
}
@media (max-width: 991px) {
  footer .fFlex .col-25 {
    width: 45%;
  }
}
@media (max-width: 575px) {
  footer .fFlex .col-25 {
    width: 100%;
  }
}
footer .fGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: var(--gap);
}
@media (max-width: 991px) {
  footer .fGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  footer .fGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
footer .fGrid .col-25 {
  grid-row: span 1;
  grid-column: span 1;
}
footer .fGrid .col-75 {
  grid-row: span 1;
  grid-column: span 3;
}
@media (max-width: 991px) {
  footer .fGrid .col-75 {
    grid-column: span 2;
  }
}
@media (max-width: 575px) {
  footer .fGrid .col-75 {
    grid-column: span 1;
  }
}
footer .f-main {
  background-color: #F4F4F4;
  padding: 22px 0px 46px;
}
footer .f-main .phone {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
footer .f-main .btn-primary {
  padding-left: 16px;
  padding-right: 16px;
}
footer .f-main hr {
  background-color: #E5E5EA;
  width: 100%;
  height: 1px;
  margin: 21px 0px 29px;
  border: none;
}
footer .f-bottom {
  padding: 21px 0px;
  background-color: var(--bg-color);
}
footer .f-bottom .work {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
footer .f-bottom .col-25, footer .f-bottom .col-75 {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--gap);
}
@media (max-width: 575px) {
  footer .f-bottom .col-25, footer .f-bottom .col-75 {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */