@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

:root {
    --h-height: 96px;
    --h-footer: 84px;
    --main-color: #ED4B58;
    --font-color: #26364B;
    --font-gray: #979797;
    --bg-color: #FFFFFF;
    --bg-light: #FAFAFA;
    --font-family: "Golos Text";
    --font-size: 16px;
    --gap: 30px;
    --radius: 32px;
    --transition: 250ms ease-in;
    @media (max-width: 1024px) {
    }
    @media (max-width: 720px) {
    }
}

/* mixins */
@mixin flex($dir: row, $x: center, $y: center, $wrap: nowrap) {
    display: flex !important;
    flex-direction: $dir;
    justify-content: $x;
    align-items: $y;
    flex-wrap: $wrap;
}
@mixin safariFix {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    isolation: isolate;
    transform: translateZ(0);
}
@mixin list {
    list-style: none;
    padding-left: 0px;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 130%;
}
address {
    display: inline;
    font-style: normal;
}
ul, ol {
    @include list();
}
a, a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    font-size: 1em;
    display: block;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-main {
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: 22px 59px;
    border-radius: var(--radius);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 23px;
    font-weight: 600;
    box-shadow: 0px 7px 35px -12px rgba(237, 75, 88, 0.504644);
    transform: translateY(0px);
    transition: transform var(--transition);

    &:hover, &:focus {
        transform: translateY(-10px);
        transition: transform var(--transition);
    }
}
.btn-primary {
    display: block;
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: 20px 40px;
    border-radius: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    line-height: 100%;
    font-weight: 600;
    box-shadow: 0px 7px 35px -12px rgba(237, 75, 88, 0.504644);
    transform: translateY(0px);
    transition: transform var(--transition);

    &:hover, &:focus {
        transform: translateY(-10px);
        transition: transform var(--transition);
        color: var(--bg-color);
    }
}
.btn-secondary {
    display: block;
    background-color: var(--font-color);
    color: var(--bg-color);
    padding: 20px 40px;
    border-radius: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    line-height: 100%;
    font-weight: 600;
    box-shadow: 0px 7px 35px -12px var(--font-color);
    transform: translateY(0px);
    transition: transform var(--transition);


    &:hover, &:focus {
        transform: translateY(-10px);
        transition: transform var(--transition);
        color: var(--bg-color);
    }
}
.btn-light {
    display: block;
    background-color: #F4F4F4;
    color: var(--font-color);
    padding: 20px 40px;
    border-radius: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    line-height: 100%;
    font-weight: 600;
    transform: translateY(0px);
    transition: transform var(--transition);
    @include flex(row, center, center, nowrap);
    gap: 10px;

    &:hover, &:focus {
        transform: translateY(-10px);
        transition: transform var(--transition);
        color: var(--font-color);
    }
}

.link {
    color: var(--main-color);
    @include flex(row, space-between, center, nowrap);
    gap: 10px;
    transform: translateY(0px);
    transition: transform var(--transition);
     
    &:hover, &:focus {
        transform: translateY(-8px);
        transition: transform var(--transition);
        color: var(--main-color);
    }

    span {
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        line-height: 100%;
    }
    img {
        width: 22px;
    }
}

.w-100 {
    width: 100%;
}

h1 {
    font-size: 51px;
    line-height: 58px;
    font-weight: 800;
    text-align: left;
    margin-bottom: 17px;
}
h2 {
    font-size: 31px;
    line-height: 33px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 14px;
}
.slogan {
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 8px;
    letter-spacing: 4px;
    color: var(--main-color);
    text-transform: uppercase;
}
h3 {
    font-size: 27px;
    line-height: 37px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 38px;
}
h4 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 14px;
}
h5 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 4px;
}
h6 {
    font-size: 15px;
    line-height: 26px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.fs {
    &-11 {font-size: 11px;}
    &-12 {font-size: 12px;}
    &-13 {font-size: 13px;}
    &-14 {font-size: 14px;}
    &-15 {font-size: 15px;}
    &-16 {font-size: 16px;}
    &-17 {font-size: 17px;}
    &-19 {font-size: 19px;}
    &-21 {font-size: 21px;}
}
.fw {
    &-4 {font-weight: 400;}
    &-5 {font-weight: 500;}
    &-6 {font-weight: 600;}
    &-7 {font-weight: 700;}
    &-8 {font-weight: 800;}
    &-9 {font-weight: 900;}
}

.text-gray {
    color: var(--font-gray);
}
.text-light {
    color: #BCBCBC;
}
.text-main {
    color: var(--main-color);
}
.font-color {
    color: var(--font-color);
}
.text-center {text-align: center;}

.gap {
    gap: var(--gap);
}
.d-flex {
    width: 100%;
    @include flex(row, flex-start, flex-start, nowrap);
    &.y-cen {
        align-items: center;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    .col {
        &-33 {
            width: calc(33% - var(--gap)/2);
        }
        &-40 {
            width: calc(42% - var(--gap)/2);
        }
        &-50 {
            width: calc(50% - var(--gap)/2);
        }
        &-60 {
            width: calc(58% - var(--gap)/2);
        }
        &-66 {
            width: calc(66% - var(--gap)/2);
        }
    }

    &.bp-tablet {
        @media (max-width: 1024px) {
            flex-wrap: wrap;
            &>.col {
                &-33, &-40, &-50, &-60, &-66 {
                    width: 100%;
                }
            }
        }
    }
    &.bp-mobile {
        @media (max-width: 720px) {
            flex-wrap: wrap;
            &>.col {
                &-33, &-40, &-50, &-60, &-66 {
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 720px) {
    .w-100-mob {
        width: 100%;
    }
}


.container {
    display: block;
    max-width: 1170px;
    width: calc(100% - 4px);
    margin: 0px auto;

    @media (max-width: 1500px) {
        max-width: 1024px;
    }

    @media (max-width: 1024px) {
        max-width: 720px;
    }

    @media (max-width: 720px) {
        max-width: 335px;
    }
}

.swiper {
    position: relative;
    padding-bottom: 90px;
    --swiper-pagination-color: var(--main-color);

    &-bottom {
        position: absolute;
        bottom: 0%;
        left: 0px;
        width: 100%;
        @include flex(row, flex-start, center, nowrap);
        gap: var(--gap);
    }

    &-navs {
        @include flex(row, flex-start, center, nowrap);
    }

    &-button-prev, &-button-next, &-pagination {
        position: relative;
        top: unset !important;
        bottom: unset !important;
        left: unset !important;
        right: unset !important;
    }

    &-button-prev, &-button-next {
        @include flex(row, center, center, nowrap);
        background-color: #F4F4F4;
        width: 46px !important;
        height: 46px !important;
        border-radius: 16px;
        margin-top: 0px !important;
        color: var(--font-color);
        transition: color var(--transition);
        padding: 5px;
        svg {
            width: 36px;
            height: 36px
        }
        &:hover, &:focus {
            color: var(--main-color);
            transition: color var(--transition);
        }
    }

    &-pagination {
        &-bullets {
            transform: translateX(0%) !important;
            
        }
        &-bullet {
            margin: 0px 12px !important;
            transform: scale(0) !important;
        }
        &-bullet-active-next, &-bullet-active-prev, &-bullet-active-main {
            transform: scale(1) !important;
        }
    }

    // &-pagination {
    //     @include flex(row, center, center, nowrap);
    //     gap: 24px;
    //     width: 100px;
    //     &-bullet {
    //         background-color: #F4F4F4;
    //         opacity: 1;
    //         width: 10px;
    //         height: 10px;
    //         border-radius: 50%;
    //         margin: 0px !important;

    //         &-active {
    //             background-color: var(--main-color);
    //         }
    //     }
    // }
}


.dropdown {
    position: relative;
    width: 100%;
    &__btn {
        width: 100%;
        border: 1px solid var(--light-color);
        border-radius: var(--radius);
        background-color: var(--bg-color);
        padding: 1em var(--gap);
        position: relative;
        z-index: 1;
        @include flex(row, flex-start, center, nowrap);
        font-size: 1em;
        background: url(../imgs/icons/arrow.svg) no-repeat calc(100% - 1em) 50%;
        background-size: auto;
        span {
            display: inline;
            vertical-align: middle;
            margin: 0px var(--margin-xs);
        }
        img {
            display: inline;
            width: calc(var(--font-size-sm)* 1.5);
            height: calc(var(--font-size-sm)* 1.5);
            object-fit: scale-down;
            vertical-align: middle;
        }
    }
    &__box {
        position: absolute;
        z-index: 100;
        top: 102%;
        right: 0px;
        width: 100%;
        height: fit-content;
        border-radius: var(--radius);
        border: 1px solid var(--light-color);
        background-color: var(--bg-color);
        padding: 1em var(--gap);
        display: none;
        &.show {
            display: block;
        }
    }
}



body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: 400;
    background-color: var(--bg-color);
    color: var(--font-color);
    @media (max-width: 1024px) {
        padding-top: 0px;
        padding-bottom: 20px;
    }
}


main {
    min-height: calc(100vh - 120px - var(--h-footer) - var(--h-height));
}

.logo {
    max-width: 162px;
    height: 42px;
    object-fit: scale-down;
}
header {
    @include flex(row, space-between, center, nowrap);
    font-size: 13px;
    color: var(--font-gray);
    height: var(--h-height);

    .header-block {
        @include flex(row, center, center, nowrap);
        gap: 12px;
        a {
            color: var(--font-color);
            &:hover, &:focus, &:active {
                color: var(--main-color);
                transition: color var(--transition);
            }
        }
    }

    hr {
        width: 1px;
        height: 48px;
        background-color: #C4C4C4;
        border: none;
    }
    
}

.sec-1 {
    background-image: url(../imgs/bg/bg1-right.png), url(../imgs/bg/bg1-left.png);
    background-size: auto 100%, auto 100%;
    background-position: 100% center, 0% center;
    background-repeat: no-repeat;
    padding: 48px 0px 102px;
    p {margin-bottom: 29px;}
}

.sec-2 {
    margin-top: -50px;
    .plus {
        @include flex(row, space-between, center, nowrap);
        gap: var(--gap);
        &-item {
            background-color: var(--bg-light);
            border-radius: var(--radius);
            padding: 28px 40px 35px 52px;
            position: relative;
            width: 100%;

            &:last-child {
                border: 1px solid var(--font-color);
            }
            
            .bg {
                position: absolute;
                top: 0px;
                right: 0px;

            }
        }
    } 
}

.sec-3 {
    margin-top: 32px;
    background: url(../imgs/bg/bg2.jpg) no-repeat;
    background-size: cover;
    padding: 16px;
    border-radius: var(--radius);
    @include flex(row, space-between, center, nowrap);
    .text {
        width: calc(100% - 32px - 390px);
        padding: 0px 50px 0px 100px;
        
        p {margin-bottom: 25px;}

        .btn-primary, .btn-secondary {
            padding: 12px 20px 12px 16px;
            @include flex(row, center, center, nowrap);
            gap: 10px;
            width: fit-content;
            font-size: 11px;
            line-height: 15px;
            svg {
                background-color: var(--bg-color);
                padding: 4px;
                width: 32px;
                height: 32px;
                border-radius: 12px;
            }
        }
    }

    &-btns {
        @include flex(row, flex-start, center, nowrap);
        gap: 24px;
    }
}

.sec-4 {
    margin-top: 64px;

    &-grid {
        margin-top: 38px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 24px 30px;
        div {
            grid-row: span 1;
            grid-column: span 1;
            background-color: var(--bg-light);
            padding: 32px 40px;
            border-radius: var(--radius);

            &:first-child {
                background-color: #F4F4F4;
            }
            &:nth-child(3) {
                background: url(../imgs/bg/dot-blur.svg) no-repeat;
                background-position: 100% 100%; 
            }
            &:nth-child(4) {
                background-image: url(../imgs/bg/emblem-big.svg), url(../imgs/bg/dots-2.svg);
                background-repeat: no-repeat;
                background-position: 100% 50%, 40px calc(100% - 32px); 
            }

            &:last-child {
                grid-column: span 2;
                background: url(../imgs/bg/bg3.png) no-repeat var(--main-color);
                background-size: cover;
                color: var(--bg-color);
            }
        }
    }
}

.sec-5 {
    margin-top: 60px;
    background: url(../imgs/bg/bg4.jpg) no-repeat center center;
    background-size: cover;
    padding: 55px 0px 0px;

    &-btns {
        @include flex(row, flex-start, center, nowrap);
        gap: 24px;
        margin-top: 33px;
    }

    .container {
        @include flex(row, space-between, center, nowrap);
        .left {
            flex: 1;
            margin-right: 5%;
        }
        .right {
            display: flex;
            width: 445px;
        }
    }
}

.sec-6 {
    margin-top: 64px;
    &-grid {
        margin-top: 38px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        gap: 24px 30px;
        div {
            grid-row: span 1;
            grid-column: span 1;
            background-color: var(--bg-light);
            padding: 32px 40px;
            border-radius: var(--radius);

            &:first-child {
                grid-column: span 4;
                background-color: #F4F4F4;
                padding: 35px 260px 35px 46px;
            }
            &:nth-child(3) {
                background-color: var(--bg-color);
                border: 1px solid var(--font-color);
            }
            &:nth-child(4) {
                background-image: url(../imgs/bg/dots-3.svg);
                background-repeat: no-repeat;
                background-position: 100% 0%; 
            }

            
        }
    }
}

.sec-7 {
    margin-top: 64px;
    padding: 0px 100px;
    @include flex(row, center, center, nowrap);
    p {margin-top: 30px;}
    button {margin-top: 48px;}
}

.sec-8 {
    background-color: #F4F4F4;
    margin-top: 48px;
    padding: 64px 0px;
    .container {
        @include flex(row, space-between, stretch, nowrap);
        gap: var(--gap);
        
        .left {
            width: 66%;
            background-color: var(--bg-color);
            background-image: url(../imgs/bg/mark.svg);
            background-repeat: no-repeat;
            background-position: 100% 100%;
            border-radius: var(--radius);
            @include flex(row, flex-start, stretch, nowrap);
            img {
                border-radius: var(--radius);
                height: 100%;
                width: auto;
            }
            .text {
                padding: 54px 160px 54px 54px;
                h4 {margin-bottom: var(--gap)}
                .list {
                    li {
                        margin-top: 10px;
                        padding-left: 20px;
                        position: relative;
                        &::before {
                            content: "";
                            background: url(../imgs/icons/green-dot.svg) no-repeat 50% 50%;
                            background-size: contain;
                            width: 6px;
                            height: 6px;
                            position: absolute;
                            left: 0%;
                            top: calc(50% - 3px);
                        }
                    }
                }
            }
        }

        .right {
            padding: 37px 30px;
            width: 33%;
            background-color: var(--bg-color);
            border-radius: var(--radius);
            background-image: url(../imgs/bg/close.svg);
            background-repeat: no-repeat;
            background-position: 100% 0%;
            img {
                margin: 25px 0px;
            }
            .list {
                li {
                    margin-top: 10px;
                    padding-left: 20px;
                    position: relative;
                    &::before {
                        content: "";
                        background: url(../imgs/icons/dark-dot.svg) no-repeat 50% 50%;
                        background-size: contain;
                        width: 6px;
                        height: 6px;
                        position: absolute;
                        left: 0%;
                        top: calc(50% - 3px);
                    }
                }
            }
        }
    }
}

.sec-9 {
    margin-top: 64px;

    &-grid {
        margin-top: 38px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 24px 30px;
        div {
            grid-row: span 1;
            grid-column: span 1;
            padding: 32px 40px;
            border-radius: var(--radius);

            &:first-child {
                background: url(../imgs/bg/bg6.jpg) no-repeat var(--main-color);
                background-size: cover;
                color: var(--bg-color);
            }
            &:nth-child(2) {
                background: url(../imgs/bg/dots-4.svg) no-repeat #F4F4F4;
                background-position: 40px calc(100% - 32px); 
            }
            &:last-child {
                background-color: var(--bg-color);
                border: 1px solid var(--font-color);
            }
        }
    }
}

.sec-10 {
    margin-top: 32px;
    background: url(../imgs/bg/bg7.png) no-repeat var(--font-color);
    background-size: cover;
    padding: 16px;
    border-radius: var(--radius);
    @include flex(row, space-between, center, nowrap);
    
    .text {
        color: var(--bg-color);
        width: calc(100% - 32px - 390px);
        padding: 0px 50px 0px 100px;
        
        ul {
            margin: 28px 0px;
            li {
                line-height: 24px;
                font-weight: 500;
                &::before {
                    content: "•";
                    margin-right: 1em;
                }
            }
        }
    }
}

.sec-11 {
    margin-top: 64px;

    &-grid {
        margin-top: 38px;
        margin-bottom: 48px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 24px 30px;

        div {
            grid-row: span 1;
            grid-column: span 1;
            padding: 32px 40px;
            border-radius: var(--radius);
            background-color: var(--bg-light);

            &:first-child {
                background-color: #F4F4F4;
                .link {margin-top: 32px;}
            }
            &:nth-child(3) {
                background-image: url(../imgs/bg/bg8.png);
                background-repeat: no-repeat;
                background-position: 100% 0%; 
                padding-top: 64px;
            }
            &:nth-child(4) {
                background-image: url(../imgs/bg/emblem-big.svg);
                background-repeat: no-repeat;
                background-position: 100% 50%; 
            }
            &:nth-child(5) {
                border: 1px solid var(--font-color);
                background: url(../imgs/bg/dots-4.svg) no-repeat var(--bg-color);
                background-position: 40px calc(100% - 32px);
            }
            &:last-child {
                background: url(../imgs/bg/bg9.jpg) no-repeat var(--main-color);
                background-size: cover;
                color: var(--bg-color);
            }
        }
    }

    &-btns {
        margin-top: 48px;
        @include flex(row, center, center, nowrap);
        gap: 24px;

        .btn-light {
            font-size: 11px;
            padding: 14px 28px 13px 16px;
            font-weight: 400;
        }
    }
}

.sec-12 {
    margin-top: 64px;

    &-grid {
        margin-top: 38px;
        margin-bottom: 48px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 24px 30px;

        div {
            grid-row: span 1;
            grid-column: span 1;
            padding: 32px 40px;
            border-radius: var(--radius);
            background-color: var(--bg-light);

            &:first-child {
                background-image: url(../imgs/bg/bg10.png);
                background-repeat: no-repeat;
                background-position: 100% 50%; 
            }
            &:nth-child(2) {
                
                background-color: #F4F4F4;
            }
            &:last-child {
                background-image: url(../imgs/bg/bg11.png);
                background-repeat: no-repeat;
                background-position: 100% 50%; 
            }
        }
    }
}

.sec-13 {
    margin-top: 64px;
    .swiper {margin-top: 48px;}
    figure {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 256px;
            left: 21px;
            z-index: 2;
            background: url(../imgs/icons/logo-icon.svg) no-repeat;
            width: 37px;
            height: 28px;
        }
        img {
            width: 100%;
            height: 304px;
            object-fit: cover;
            margin-bottom: 23px;
            border-radius: var(--radius);
            position: relative;
            z-index: 1;
        }
        figcaption {
            @include flex(column, flex-start, stretch, nowrap);
            gap: 6px;
        }
    }
    
    .swiper-slide-active {
        figure {
            img {border: 1px solid var(--main-color);}
        }
    }
}

blockquote {
    width: 90%;
    color: var(--main-color);
    font-size: 17px;
    line-height: 24px;
    font-weight: 600;
    padding: 0px 0px 10px 45px;
    border-bottom: 1px solid #D8D8D8;
    margin: 28px 0px 20px;
    background: url(../imgs/icons/quote.svg) no-repeat 0% 20%;
    p {
        margin-bottom: 10px !important;
    }
}

form {
    width: 390px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    padding: 32px 35px 27px;
    border-radius: var(--radius);

    p {margin-bottom: 30px;}

    label {
        display: block;
        font-size: 13px;
        line-height: 100%;
        margin-bottom: 10px;
    }
    input {
        width: 100%;
        background-color: var(--bg-light);
        border-radius: 18px;
        border: none;
        padding: 14px 16px;
        font-size: 16px;
        outline: none;
        margin-bottom: 14px;
        &::placeholder {
            color: #C9CDD1;
        }
        &:hover, &:focus, &:focus-visible {
            outline: none;
        }

        &[type="checkbox"] {
            appearance: none;
            position: relative;
            border: 1px solid #8E8E93;
            background-color: var(--bg-color);
            border-radius: 6px;
            width: 16px;
            height: 16px;
            padding: 0px;
            margin: 0px;
            &:checked {
                &::after {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 10px;
                    height: 6px;
                    border: solid var(--main-color);
                    transform: rotate(310deg);
                    border-width: 0px 0px 3px 3px;
                }
            }
        }
    }

    .inputGroup {
        @include flex(row, flex-start, stretch, nowrap);
        background-color: var(--bg-light);
        border-radius: 18px;
        position: relative;
        overflow: hidden;
        input {
            margin: 0px !important;
            position: relative;
            z-index: 1;
        }
        &-left {
            position: relative;
            z-index: 2;
            @include flex(row, center, center, nowrap);
            background-color: #F4F4F4;
            padding: 12px 19px;
            border-radius: 18px;
            gap: 10px;
        }
    }

    .btn-primary {
        margin: 30px 0px;
    }

    .checkboxGroup {
        @include flex(row, flex-start, center, nowrap);
        label {
            display: block;
            flex: 1;
            color: #8E8E93;
            font-size: 11px;
            line-height: 100%;
            margin: 0px 0px 0px 10px;
        }
    }
}

footer {
    margin-top: 100px;

    .mb-12 {margin-bottom: 12px;}

    .fGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: var(--gap);
        .col-25 {
            grid-row: span 1;
            grid-column: span 1;
        }
        .col-75 {
            grid-row: span 1;
            grid-column: span 3;
        }
    }

    .f-main {
        background-color: #F4F4F4;
        padding: 22px 0px 46px;

        .phone {
            @include flex(row, flex-start, center, nowrap);
            gap: 10px;
        }

        .btn-primary {
            padding-left: 16px;
            padding-right: 16px;
        }

        hr {
            background-color: #E5E5EA;
            width: 100%;
            height: 1px;
            margin: 21px 0px 29px;
            border: none;
        }

        .social {
            @include flex(row, flex-start, center, nowrap);
            gap: 20px;
            img {
                width: 36px;
            }
        }
    }
    .f-bottom {
        padding: 21px 0px;
        background-color: var(--bg-color);
        .work {
            @include flex(row, flex-start, center, nowrap);
            gap: 10px;
        }
        .col-25, .col-75 {
            @include flex(row, flex-start, center, nowrap);
            gap: var(--gap);    
        }
    }
}